{% extends 'base.html' %}

{% block title %}
  SignUp
{% endblock %}

{% block content %}


  <div class="card bg-light mt-5 p-4">

    <h2 class="text-dark p2">SignUp</h2>

    {% for message in messages %}
    <div class="alert alert-{{message.tags}} alert-dismissible fade show" role="alert">
    <strong>{{message}}</strong>
    <button type="button" class="btn-close" data-bs-dismiss= "alert" aria-label="Close"></button>   
    </div>
    {% endfor %}
    
    <form action="/auth/signup/" method="post">
      {% csrf_token %}
      <br />
      <label for="email">Email</label>
      <div class="form-group">
        <input type="email" class="form-control" id="email" name="email" required />
      </div>
      <label for="pass1">Password</label>
      <div class="form-group">
        <input type="password" class="form-control" id="pass1" name="pass1" required />
      </div>
      <label for="pass2">Confirm Password</label>
      <div class="form-group">
        <input type="password" class="form-control" id="pass2" name="pass2" required />
      </div>
      <br />
      <button type="submit" class="btn btn-dark">SignUp</button>
      <br />
      Already User? <a href="/auth/login/">Login</a>
      <br />
    </form>
  </div>
{% endblock %}
